.parameters-definition th {
	text-align: left;
	padding:2px 16px 2px 2px;
}
.parameters-definition td {
	text-align: left;
	padding:2px 16px 2px 2px;
}
.parameters-definition tr:nth-child(2n+1) td {
	background: #f3f3f3;
}
.parameters-definition .param {
	white-space: nowrap;
}
.demo-code {
	background: #333;
	color:#C6E746;
	font-family: monospace;
}